In [1]:
# Import BeautifulSoup
from bs4 import BeautifulSoup
import pandas as pd
import time
import pymongo

# NASA Mars News

In [2]:
# Import Splinter and set the chromedriver path
from splinter import Browser
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
url= "https://mars.nasa.gov/news/"
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
news_title= soup.find('div',class_="content_title").text
print(news_title)

NASA's InSight Places First Instrument on Mars

In [6]:
news_p=soup.find('div', class_="article_teaser_body").text
print(news_p)

In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.

In [7]:
browser.quit()

# JPL Mars Space Image

In [8]:
# Import Splinter and set the chromedriver path
from splinter import Browser
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [9]:
image_url="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)

In [10]:
button= browser.click_link_by_partial_text('FULL IMAGE')

In [11]:
button= browser.click_link_by_partial_text('more info')

In [12]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [13]:
featured_image_path = soup.find('figure',class_="lede").a['href']
url= "https://www.jpl.nasa.gov"
featured_img_url = url + featured_image_path
featured_img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16715_hires.jpg'

In [14]:
browser.quit()

# Twitter Mars Weather

In [15]:
# Import Splinter and set the chromedriver path
from splinter import Browser
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [16]:
weather_url= "https://twitter.com/marswxreport?lang=en"
browser.visit(weather_url)

In [17]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [18]:
# Scrape the latest Mars weather tweet from the page. 
# Save the tweet text for the weather report as a variable called `mars_weather`.

mars_weather= soup.find('div',class_="js-tweet-text-container").p.text
print(mars_weather)

Sol 2291 (2019-01-16), high -8C/17F, low -70C/-93F, pressure at 8.23 hPa, daylight 06:46-18:55pic.twitter.com/IRiqxlJqvT

In [19]:
browser.quit()

# Space Facts Mars

In [20]:
import pandas as pd

In [21]:
facts_url= "https://space-facts.com/mars/"

In [22]:
tables=pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [23]:
type(tables)

list

In [24]:
facts_df=tables[0]
facts_df.columns= ['description','value']
facts_df.head()

            description                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [25]:
facts_df.set_index('description', inplace=True)
facts_df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [26]:
facts_to_html=facts_df.to_html()
facts_to_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [27]:
facts_html= facts_to_html.replace('\n', '')
facts_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>value</th>    </tr>    <tr>      <th>description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [28]:
type(facts_html)

str

# Mars Hemispheres

In [38]:
from splinter import Browser
from bs4 import BeautifulSoup
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [36]:
# Add Alternative Image Instead of the Original
#JPL.NASA.GOV

In [39]:
mars_url="https://www.jpl.nasa.gov/spaceimages/search_grid.php?sort=target&instrument=Wide+Field+Planetary+Camera+2&currentpage=3"
browser.visit(mars_url)

In [40]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [41]:
button= browser.click_link_by_partial_href('PIA01252')

In [42]:
button= browser.click_link_by_partial_text('jpg')

In [43]:
mars_hemispheres_image_url=browser.url
mars_hemispheres_image_url

'https://photojournal.jpl.nasa.gov/jpeg/PIA01252.jpg'

In [44]:
browser.quit()